

{% extends 'base.html' %}
{% load static %}

	{% block body %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Services</h1>
								<p class="mb-4">Get you most pleasent services from us.</p>
								<p><a href="" class="btn btn-secondary me-2">Shop Now</a></p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				
				
				<div class="row my-5">
					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/truck.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Fast &amp; Free Shipping</h3>
							<p>Experience the convenience of fast & free shipping, bringing your orders right to your doorstep with speed and savings.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{%static 'images/bag.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Easy to Shop</h3>
							<p>Simplify your shopping experience with our user-friendly platform, making it easy to find and purchase your desired items.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/support.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 Support</h3>
							<p>Enjoy round-the-clock peace of mind with our 24/7 support, available whenever you need assistance.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/return.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Hassle Free Returns</h3>
							<p>Experience hassle-free returns with our simple and convenient process, ensuring your satisfaction.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{%static 'images/truck.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Fast &amp; Free Shipping</h3>
							<p>Absolutely, that's a well-phrased sentence! It effectively communicates the benefits of your fast and free shipping service.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/bag.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Easy to Shop</h3>
							<p>Enjoy effortless shopping through our user-friendly platform, making your experience seamless and convenient.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/support.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 Support</h3>
							<p>Feel supported around the clock with our 24/7 assistance, ensuring help is available whenever you need it.</p>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/return.svg'%}" alt="Image" class="imf-fluid">
							</div>
							<h3>Hassle Free Returns</h3>
							<p>Enjoy stress-free returns with our hassle-free process, ensuring a smooth and convenient experience.</p>
						</div>
					</div>

				</div>
			
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		

		{%endblock%}